.body{
    margin: auto;
    min-width: 1600px;
}
.header{
    grid-row: 1;
	height: 100px;
    display: flex;
    background-color: black;
	align-items: center; 
}
.nav{
    min-width: 80%;
    grid-row: 1;
    display: flex;
}
.nav__list {
	display: flex;
    min-width: 70%;
	align-items: center;
	justify-content: space-between;
}

.nav_item{
    color:white
}
.nav__link {
	color: white;
	text-decoration: none;
	font-weight: 700;
}
.nav__link:hover {
	color:orange;
	text-decoration: none;
}
li{
    list-style-type: none;
}

.mainBack {
    background-color: #cccccc;
    background-size: 100% auto;
    height: 700px;
    /* align-items: center; */
}
.backtext{
    position: absolute;
top:110px;
right:100px;
width:20%;
    
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  } */
  
  /* .container {
    position: absolute;
  } */
  
  #container {
    position: relative;
    width: 600px;
    height: 400px;
}

.draggable {
    position: absolute;
    cursor: pointer;
}


#treebase {
    position: absolute;
    top:300px;
    left:600px;
    width: 40px;
    height: 60px;
    background-color: brown;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    
}
#triangle1 {
    position: absolute;
    top: 100px;
    left: 300px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid lightgreen;
    /* transform: rotate(90deg); */
    animation-duration: 4s;
    animation-iteration-count:infinite;

}

#triangle2 {
    position: absolute;
    top: 100px;
    left: 500px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid lightseagreen;
    transform: rotate(135deg);
    animation-duration: 4s;
    animation-iteration-count:infinite;
}

#triangle3 {
    top: 100px;
    left: 700px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
    transform: rotate(180deg);
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
#roof {
    top:300px;
    left:100px;
    border-left:120px solid transparent;
    border-right:120px solid transparent;
    border-bottom: 160px solid grey;
    /* transform: rotate(45deg); */
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
#wall {
    width: 100px;
    height: 150px;
    background-color: red;
    top:300px;
    left:300px;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
#window {
    width: 50px;
    height: 75px;
    background-color: blue;
    top:400px;
    left:600px;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}

.footer{
    width:100%;
    height: 400px;
    background-color: black;
}

.refo{
    position: relative;
    top:5%
}

.secondpart{
    width: 25%;
    height: 400px;
}
.footcontain{
    display: flex;
    width: 80%;
    margin: auto;
}
.secondpart .nav{
    position: relative;
    top:80%;
    min-width: 100%;
}

.secondpart .nav__list {
	display: flex;
    min-width: 100%;
	align-items: center;
	justify-content: space-between;
}
a{
    font-family:Arial, Helvetica, sans-serif
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
