.body{
    margin: auto;
    min-width: 1600px;
}
.header{
    grid-row: 1;
	height: 100px;
    display: flex;
    background-color: black;
	align-items: center; 
}
.nav{
    min-width: 80%;
    grid-row: 1;
    display: flex;
}
.nav__list {
	display: flex;
    min-width: 70%;
	align-items: center;
	justify-content: space-between;
}

.nav_item{
    color:white
}
.nav__link {
	color: white;
	text-decoration: none;
	font-weight: 700;
}
.nav__link:hover {
	color:orange;
	text-decoration: none;
}
li{
    list-style-type: none;
}

.mainBack {
    background-color: #cccccc;
    background-size: 100% auto;
    height: 700px;
    /* align-items: center; */
}
.backtext{
    width: 100%;
    flex:35%;
    text-align: center; 
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .class1 {
    background-color: #ffd700; /* Жёлтый цвет */
  }
  
  .class2 {
    background-color: #87ceeb; /* Голубой цвет */
  }


.footer{
    width:100%;
    height: 400px;
    background-color: black;
}

.refo{
    position: relative;
    top:5%
}

.secondpart{
    width: 25%;
    height: 400px;
}
.footcontain{
    display: flex;
    width: 80%;
    margin: auto;
}
.secondpart .nav{
    position: relative;
    top:80%;
    min-width: 100%;
}

.secondpart .nav__list {
	display: flex;
    min-width: 100%;
	align-items: center;
	justify-content: space-between;
}
a{
    font-family:Arial, Helvetica, sans-serif
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
